# System Files macOs
.DS_Store
__MACOSX/
.AppleDouble
.LSOverride
Icon[]
._*

# System Files Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump

# Output Files
*.pdf

# R-specific
.Rhistory
.Rapp.history
.RData
.RDataTmp
.Ruserdata
.Rproj.user/
*_cache/
/cache/
.Renviron
rsconnect/

# JupyerLab
*.ipynb_checkpoints

# IDE
*.Rproj
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace
